
body{
    width: 100%;
    height: 48vw;
    background-image: url('static/UserStatic/img/dark-bg.png');
    background-size: 100%;
}
.form{
    height: 600px;
    width: 400px!important;
    background-color: rgba(245, 1, 172, 0.338);
    border-radius: 2%;
}
.profile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.profile-logo i {
    color: #333;
    font-size: 24px;
}