
body{
    width: 100%;
    height: 48vw;
    background-image: url('static/UserStatic/img/dark-bg.png');
    background-size: 100%;
}
.form{
    height: 600px;
    width: 400px!important;
    background-color: rgba(245, 1, 172, 0.338);
    border-radius: 2%;
}