{% extends 'AdminDashboard/home.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<div class="pagetitle">
    <h1>Category</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Category</li>
            </ol>
            <a class="btn btn-secondary" href="" data-bs-toggle="modal"
                data-bs-target="#productModal1">--Add New Category--</a>
            <!-- Add Category Modal Start-->

            {% if messages %}
            {% for message in messages %}
            <div class="text-center text-danger pt-3"></button>
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {%endif%}
        
            <div class="modal fade" id="productModal1{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content p-3" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
        
                        <div class="modal-body">
                            <form  method ="post" action="{% url 'addcategory' %}" enctype="multipart/form-data">
                              {% csrf_token %}
        
                              
                              <div class="form-group">
                               
                                <label for="dreamweaver" class="ml-2 mt-2" >Category Name</label>
                                <input class="mx-3 form-control" type="text" name="name" value="" required >
                                
                              </div>
                              <div class="form-group">
                                <label for="dreamweaver" class="ml-2 mt-2" >Category Discription</label>
                                <input class="mx-3 form-control" type="text" name="discriptn" value="" required >
                                
                              </div>
                          
                        </div>
                       
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                    </div>
        
            <!-- Add Offer Modal End -->
    
        </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Default Table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Category.ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Discription</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in category %}
              <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.category_name}}</td>
                <td>{{item.category_discription}}</td>

                <td> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#productModal2{{forloop.counter}}">Edit</button> </td>
            
            
            <!-- Modal Start -->
            <div class="modal fade" id="productModal2{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="productModalLabel">Edit Category</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
  
                      <div class="modal-body">
                          <form  method ="post" action="{% url 'category'  %}" enctype="multipart/form-data">
                            {% csrf_token %}
  
                            
                            <div class="form-group">
                              <input  type="number" name="category_id" value="{{item.id}}" hidden >
                              <label for="dreamweaver" class="ml-2 mt-2" >Category Name</label>
                              <input class="mx-3 form-control" type="text" name="category_name" value="{{item.category_name}}" required >
                              
                            </div>
                            <div class="form-group">
                              <label for="dreamweaver" class="ml-2 mt-2" >Category Discription </label>
                              <input class="mx-3 form-control" type="text" name="category_discription" value="{{item.category_discription}}" required>
                              
                            </div>
                        
                      </div>
                     
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                  </div>
        <!-- Modal End -->
            </tr>

              {% endfor %}
            </tbody>
          </table>
          <!-- End Default Table Example -->
        </div>
      </div>
    </div>
  </div>
</section>

    

        
     <div class="card-body">

       <!-- Pagination with icons -->
       <nav aria-label="Page navigation example">
         <ul class="pagination ">
           <li class="page-item">
             <a class="page-link" href="#" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
             </a>
           </li>
           <li class="page-item"><a class="page-link" href="#">1</a></li>
           <li class="page-item"><a class="page-link" href="#">2</a></li>
           <li class="page-item"><a class="page-link" href="#">3</a></li>
           <li class="page-item">
             <a class="page-link" href="#" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
             </a>
           </li>
         </ul>
       </nav><!-- End Pagination with icons -->

     </div>

<!-- CSS -->


<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock content %}  